body {
    text-align: center;
    background-image: url("./img/bg.jpg");
    padding: 0;
    margin: 0;
  }

.header{
    padding: 30px;
    background-color: #ff8c56;
    margin-bottom: 50px;
}

.users{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: aliceblue;
}
.card{
    background-color: rgb(141, 138, 138);
    width: 400px;
    height: 500px;
    margin: 10px;
    border-radius: 10%;
}
img{
    width: 350px;
    height: 350px;
    border-radius: 10%;
    border: 10px solid rgb(121, 118, 118);
}

.footer{
    background-color: #ff8c56;
    padding: 20px;
}
a{
    text-decoration: none;
    color: black;
}